@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Righteous&display=swap');
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  top:0;
  margin: 0;
  font-family: "Righteous", cursive;
  color:wheat;
  background-color: aqua;
}

.navbar {
  font-family: 'Bungee Inline', cursive;
  color: white;

}

.navbar li, a {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;

}


div{
  display: inline;
  float: right;
}

#logo{
border: 2px solid red;
}
